*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  background: #0f0e0e;
  line-height: 1.68;
  color: #fff;
}

.adventures {
  padding-left: 6rem;
  padding-right: 6rem;
}
.adventures__heading--primary {
  font-family: "Benne", serif;
  font-weight: 400;
  font-size: 4.5rem;
  text-align: center;
}
.adventures__heading--secondary {
  font-family: "Saira Condensed", sans-serif;
  color: rgba(255, 255, 255, 0.4);
  font-size: 1.8rem;
  letter-spacing: 1.2px;
  text-align: center;
}
.adventures__grid {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));
  gap: 3rem;
}
.adventures .card {
  position: relative;
  height: 34rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.adventures .card::before {
  content: "";
  position: absolute;
  height: 110%;
  width: 100%;
  background-position: center;
  background-size: cover;
  z-index: -20;
  transition: transform 0.3s;
}
.adventures .card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  display: none;
  z-index: -10;
}
.adventures .card__content {
  color: #fff;
  text-align: center;
  transform: translateY(100%);
  transition: all 0.6s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  padding: 1rem;
}
.adventures .card__content > *:not(.card__title) {
  transition: opacity 1.4s;
  opacity: 0;
}
.adventures .card__content > * + * {
  margin-top: 2rem;
}
.adventures .card__title {
  font-size: 2.2rem;
}
.adventures .card__text {
  font-family: "Cardo", serif;
  font-size: 1.8rem;
}
.adventures .card__btn {
  display: inline-block;
  text-decoration: none;
  color: #0f0f0f;
  font-weight: 600;
  padding: 0.3rem 0.8rem;
  background-color: #dba57b;
  border-radius: 2px;
  font-size: 1.4rem;
}
.adventures .card:hover::before {
  transform: translateY(-4%);
  filter: brightness(80%);
}
.adventures .card:hover::after {
  display: block;
}
.adventures .card:hover .card__content {
  transform: translateY(0);
}
.adventures .card:hover .card__content > *:not(.card__title) {
  opacity: 1;
}

.card--architecture::before {
  background: linear-gradient(to top, rgba(7, 5, 5, 0.9), transparent), url("../../img/architecture.jpg");
}

.card--landscape::before {
  background: linear-gradient(to top, rgba(7, 5, 5, 0.9), transparent), url("../../img/landscape.jpg");
}

.card--astro::before {
  background: linear-gradient(to top, rgba(7, 5, 5, 0.9), transparent), url("../../img/astro.jpg");
}

.card--people::before {
  background: linear-gradient(to top, rgba(7, 5, 5, 0.9), transparent), url("../../img/people.jpg");
}

.album {
  padding-left: 6rem;
  padding-right: 6rem;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}
.album__text {
  flex: 1 1 60%;
}
.album__heading {
  font-family: "Benne", serif;
  font-weight: 500;
  font-size: 5rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}
.album__body {
  font-size: 1.7rem;
  line-height: 1.9;
  margin: 1.5rem 0;
  color: rgba(255, 255, 255, 0.5);
}
.album__images {
  flex: 1 0 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.album__pic {
  width: 74%;
  max-width: 100%;
  height: auto;
  transition: transform 0.3s;
  border: 1rem solid #fff;
}
.album__pic:hover {
  transform: scale(1.2);
}
.album__pic::before {
  content: "";
  height: 230rem;
  width: 150rem;
  background: purple;
  position: absolute;
  z-index: -10;
}

.blog {
  padding-left: 6rem;
  padding-right: 6rem;
}
.blog__heading {
  text-align: center;
  font-size: 4rem;
}
.blog__heading::after {
  content: "";
  position: relative;
  height: 3px;
  width: 10rem;
  display: block;
  margin: 0 auto;
  background-color: #DBA57B;
}
.blog__container {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));
  column-gap: 5rem;
}
.blog__image {
  max-width: 100%;
  height: auto;
}
.blog__date-box {
  margin-top: 2rem;
}
.blog__date {
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.5);
}
.blog__title {
  font-family: "Saira Condensed", sans-serif;
  font-size: 2.3rem;
  letter-spacing: 1.34px;
  margin-bottom: 0.7rem;
}
.blog__body {
  font-family: "Cardo", serif;
  font-size: 1.7rem;
  color: rgba(255, 255, 255, 0.6);
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-image: linear-gradient(to right, #4776E6 0%, #8E54E9 51%, #4776E6 100%);
  margin: 1rem;
  margin-left: 0;
  padding: 1rem 4rem;
  text-align: center;
  text-transform: uppercase;
  background-size: 200% auto;
  transition: 0.3s;
}
.btn:hover {
  transform: translateY(-0.5rem);
  background-position: right center;
}
.btn:active {
  transform: translateY(-0.3rem);
}

.navbar {
  padding-top: 1.5rem;
  padding-left: 6rem;
  padding-right: 6rem;
}
.navbar__list {
  display: flex;
}
.navbar__item {
  list-style: none;
}
.navbar__item:not(:last-child) {
  margin-right: 3rem;
}
.navbar__item:first-child {
  margin-right: auto;
}
.navbar__link {
  font-family: "Benne", serif;
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
}

.steps {
  position: absolute;
  left: 6rem;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(4, 30rem);
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.steps .step {
  display: flex;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  color: rgba(255, 255, 255, 0.8);
  position: relative;
}
.steps .step__number {
  font-family: "Saira Condensed", sans-serif;
  font-size: 1.8rem;
  height: 2rem;
  width: 2rem;
  padding: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.steps .step__description {
  font-size: 1.6rem;
  margin-left: 1.7rem;
  line-height: 1.4;
}
.steps .step--3::after {
  content: "";
  position: absolute;
  bottom: -2rem;
  height: 1px;
  background-color: #DBA57B;
  width: 100%;
}

.footer {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: 60% auto;
  gap: 3rem;
  height: 40rem;
}
.footer__content-box {
  padding-left: 5rem;
  padding-top: 3rem;
}
.footer__right {
  position: relative;
  background-color: #d4aa8a96;
}
.footer__heading {
  font-size: 4rem;
  margin-bottom: 1.2rem;
  position: relative;
}
.footer__heading::after {
  content: "";
  display: block;
  background-color: #DBA57B;
  height: 0.4rem;
  width: 15%;
  position: absolute;
  bottom: -1rem;
}
.footer__contact-container {
  margin-top: 5rem;
}
.footer__contact-container > * + * {
  margin: 2rem 0;
}
.footer__contact-title {
  font-size: 1.8rem;
  color: #DBA57B;
}
.footer__contact-description {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.5);
}
.footer__img {
  position: absolute;
  top: 15%;
  left: -20%;
  height: 32rem;
  max-width: 100%;
}

.header {
  height: 90vh;
  width: 100%;
  background: linear-gradient(to top, rgba(5, 5, 5, 0.952) 10%, transparent 100%), url("../../img/hero.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 1px solid #313131;
  position: relative;
}
.header__title-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.header__icon {
  background-color: #fff;
  display: inline-block;
  margin: 0 auto;
  height: 3.5rem;
  width: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  border-radius: 50%;
}
.header__icon [class^="fas "] {
  font-size: 1.9rem;
}
.header__primary {
  font-weight: 400;
  font-size: 5.5rem;
  color: #fff;
  font-family: "Cardo", serif;
  margin-top: 1rem;
}
.header__secondary {
  font-family: "Saira Condensed", sans-serif;
  color: #fff;
  letter-spacing: 8px;
  font-size: 1.6rem;
  margin-top: 1.2rem;
  text-transform: uppercase;
}
.header__detail-box {
  width: 80%;
  margin: 0 auto;
  display: flex;
  line-height: 1.2;
}
.header__detail-box > * {
  flex-basis: 25%;
  padding: 0.8rem 1.7rem;
}
.header__detail-box--1 {
  background-color: rgba(22, 20, 20, 0.952);
}
.header__detail-box--2 {
  background-color: rgba(26, 25, 25, 0.719);
}
.header__detail-box--3 {
  background-color: rgba(24, 23, 23, 0.267);
}
.header__detail-box--4 {
  background-color: rgba(5, 5, 5, 0.068);
}
.header__detail-box__name {
  font-family: "Saira Condensed", sans-serif;
  font-size: 2.5rem;
  color: #fff;
}
.header__detail-box__description {
  color: rgba(138, 135, 135, 0.952);
  text-transform: uppercase;
  font-family: "Saira Condensed", sans-serif;
  letter-spacing: 2px;
  font-size: 1.4rem;
}

.section-adventures {
  margin-top: 10rem;
}

.section-album {
  margin-top: 15rem;
}

.section-testimonial {
  margin-top: 8rem;
  background-color: rgba(255, 255, 255, 0.1);
  transform: skewY(-4deg);
  padding: 4rem 0;
}

.testimonial {
  transform: skewY(4deg);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
  gap: 3rem;
  width: 80%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 5rem 0;
}
.testimonial:hover .user:not(:hover) {
  transform: scale(0.89);
}
.testimonial .user {
  background-color: rgba(16, 14, 26, 0.15);
  padding: 2rem;
  text-align: center;
  transition: all 0.3s;
}
.testimonial .user:hover {
  transform: scale(1.12);
}
.testimonial .user__pic {
  width: 13rem;
  height: 13rem;
  object-fit: cover;
}
.testimonial .user__pic--1 {
  border-radius: 40% 60% 70% 30%/40% 50% 60% 50%;
}
.testimonial .user__pic--2 {
  border-radius: 70% 30% 50% 50%/30% 30% 70% 70%;
}
.testimonial .user__pic--3 {
  border-radius: 100% 60% 60% 100%/100% 100% 60% 60%;
}
.testimonial .user__review {
  font-size: 1.6rem;
  margin: 1rem 0;
}
.testimonial .user__name {
  font-family: "Saira Condensed", sans-serif;
  color: #DBA57B;
  font-size: 1.6rem;
  letter-spacing: 3px;
}

.section-accomodation {
  margin-top: 10rem;
}
.section-accomodation .accomodation {
  padding-left: 6rem;
  padding-right: 6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
  gap: 4rem;
}
.section-accomodation .accomodation__pic {
  max-width: 100%;
  height: auto;
}
.section-accomodation .accomodation__heading {
  font-size: 3.5rem;
}
.section-accomodation .accomodation__subheading {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.5);
}
.section-accomodation .accomodation__features {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 2rem;
  grid-column-gap: 13rem;
}
.section-accomodation .accomodation__feature {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  transform: skewX(-12deg);
  background: linear-gradient(106deg, #4776E6 0%, #8E54E9 75%, #fff 75%);
  transition: all 0.4s;
  cursor: pointer;
}
.section-accomodation .accomodation__feature:hover {
  transform: skewX(-12deg) translateX(2rem);
}
.section-accomodation .accomodation__feature__icon {
  height: 3rem;
  width: 3rem;
}

.section-subscription {
  margin-top: 10rem;
  transform: skewY(-4deg);
  background: linear-gradient(to bottom, rgba(34, 33, 33, 0.7), rgba(24, 23, 42, 0.8)), url("../../img/subs.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 8rem 0;
}
.section-subscription .subscription {
  max-width: 80rem;
  margin: 0 auto;
  text-align: center;
  transform: skewY(4deg);
}
.section-subscription .subscription__heading {
  font-size: 3.8rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
.section-subscription .subscription__description {
  font-family: "Cardo", serif;
  margin: 1.3rem 0;
  font-size: 2rem;
  color: white;
}
.section-subscription .subscription__input {
  margin-top: 1.8rem;
  padding: 1.5rem;
  width: 35rem;
  outline: none;
}
.section-subscription .subscription__btn {
  display: inline-block;
  background-color: #715edd;
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  outline: none;
  margin-left: -8rem;
}

.section-blog {
  margin-top: 10rem;
}

/*# sourceMappingURL=style.css.map */
