.album {
    @include centre-container();
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;

    @include respond(phone) {
        text-align: center;
        padding-left: 3rem;
        padding-right: 3rem
    }

    &__text {
        flex: 1 1 60%;

        @include respond(phone) {
            order: 2;
        }
    }
    
    &__heading {
        font-family: $font-secondary;
        font-weight: 500;
        font-size: 5rem;
        line-height: 1.2;
        margin-bottom: 2rem;

        @include respond(phone) {
            font-size: 4rem;
        }
    }

    &__body {
        font-size: 1.7rem;
        line-height: 1.9;
        margin: 1.5rem 0;
        color: rgba($color-white,.5);
    }

    &__images {
        flex: 1 0 30%;
        display: flex;
        justify-content: center;
        align-items: center;

        @include respond(phone) {
            order: 1;
        }
    }

    &__pic {
        width: 74%;
        max-width: 100%;
        height: auto;
        transition: transform .3s;
        border: 1rem solid $color-white;

        &:hover {
            transform: scale(1.2);
        }

        &::before {
            content: '';
            height: 230rem;
            width: 150rem;
            background: purple;
            position: absolute;
            z-index: -10;
        }
    }
}
