.btn {
    display: inline-block;
    text-decoration: none;
    color: $color-white;
    background-image: linear-gradient(to right, #4776E6 0%, #8E54E9  51%, #4776E6  100%);
    margin: 1rem;
    margin-left: 0;
    padding: 1rem 4rem;
    text-align: center;
    text-transform: uppercase;
    background-size: 200% auto;
    transition: 0.3s;
    
    &:hover {
        transform: translateY(-.5rem);
        background-position: right center;
    }

    &:active {
        transform: translateY(-.3rem);
    }
}