.navbar {
    padding-top: 1.5rem;
    @include centre-container();

    @include respond(phone) {
        display: none;
    }

    &__checkbox {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: none;

        &:checked + .aside {
            transform: translateX(0);
        }
    }

    &__icon {
        position: absolute;
        top: 10px;
        left: 5px;
        display: block;
        width: .5rem;
        height: .5rem;
        background-color: #143240;
        border-radius: 10px;
        width: 20px;

        &--1 {
            transform: translateX(10px);
        }

        &--2 {
            transform: translateX(6px);
            margin-top: 1rem;
        }

        &--3 {
            transform: translateX(2.9px);
            margin-top: 2rem;
        }
    }

    &__hamburger {
        position: fixed;
        z-index: 10;
        top: 5%;
        right: 3%;
        height: 4.5rem;
        width: 4.5rem;
        background-color: $color-white;
        border-radius: 50%;
        display: block;
    }

    & nav {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__list {
        display: flex;
        flex-direction: column;

        & > * + * {
            margin-top: 5rem;
        }
    }

    &__link {
        text-decoration: none;
        font-family: $font-quadrary;
        font-weight: 600;
        font-size: 3rem;
        color: #143240;
    }
}
