$color-sandal: #DBA57B;
$color-black: #333;
$color-white: #fff;

$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Benne', serif; // like times new roman
$font-tertiary: 'Saira Condensed', sans-serif; // conjusted
$font-quadrary: 'Cardo', serif; // cursive italics

$default-font-size: 1.6rem;